<ion-modal-view>
  <ion-header-bar class="bar-assertive bar">
    <h1 class="title">Add Item</h1>
    <button class="button button-clear button-primary" ng-click="item_modal.hide()">Close</button>
  </ion-header-bar>
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="item.name">
      </label>
      <button class="button button-assertive button-clear">
        Cancel
      </button>
    </div>
    <ion-list>
      <ion-item class="item-icon-right" ng-click="select_item(i)" ng-repeat="i in items | filter: item track by i.id">
        {{ i.name }}
        <i class="icon icon-accessory ion-checkmark"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
