<ion-view title="Bank Account List" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="bankAccountList-list8">
      <ion-item id="bankAccountList-list-item48">Bank Adjustment Entry</ion-item>
      <ion-item id="bankAccountList-list-item49">Bank to Bank Transfer</ion-item>
      <ion-item id="bankAccountList-list-item50">Add Bank</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="bankAccountList-list10">
      <ion-item id="bankAccountList-list-item57">Bank 1</ion-item>
      <ion-item id="bankAccountList-list-item58">Bank 2</ion-item>
    </ion-list>
  </ion-content>
</ion-view>