<ion-view title="Cash in hand" id="page14">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> ₹500</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <table class="imagetable" style="width: 100%">
      <thead>
        <tr>
          <th>Date</th>
          <th>Party</th>
          <th>Type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08/09/2017</td>
          <td>SBI</td>
          <td>Deposited</td>
          <td>₹500.0</td>
        </tr>

        <tr>
          <td>08/09/2017</td>
          <td>A</td>
          <td>Sale</td>
          <td>₹500.0</td>
        </tr>
        <tr>
          <td>08/09/2017</td>
          <td>A</td>
          <td>Sale</td>
          <td>₹500.0</td>
        </tr>
        <tr>
          <td>08/09/2017</td>
          <td>A</td>
          <td>Purchase</td>
          <td>₹500.0</td>
        </tr>
        <tr>
          <td>08/09/2017</td>
          <td>A</td>
          <td>Sale</td>
          <td>₹500.0</td>
        </tr>
      </tbody>
    </table>
    <button id="cashInHand-button11" class="button button-positive button-block">Floating Button</button>
    <div>Reduce Cash
      <br> Add Cash
      <br> Withdraw Money from Bank
      <br> Deposit Money to Bank
      <br>
    </div>
  </ion-content>
</ion-view>