<ion-view title="Device License">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="" ng-model="data.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Mobile</span>
        <input type="number" placeholder="" ng-model="data.mobile">
      </label>
      <label class="item item-input">
        <span class="input-label">City</span>
        <input type="text" ng-model="data.city">
      </label>
      <label class="item item-input">
        <span class="input-label">Referral</span>
        <input type="text" placeholder="optional" ng-model="data.referral">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Address</span>
        <input type="text" ng-model="data.address">
      </label>
    </form>
    <button ng-click="save()" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block button-outline">Register</button>
  </ion-content>
</ion-view>
