<ion-view title="Expense List" id="page15">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <table class="imagetable" style="width: 100%">
      <thead>
        <tr>
          <th>Expense Category</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Office Furniture</td>
          <td>Rs. 500</td>
        </tr>

        <tr>
          <td>Office Furniture</td>
          <td>Rs. 500</td>
        </tr>
        <tr>
          <td>Office Furniture</td>
          <td>Rs. 500</td>
        </tr>
        <tr>
          <td>Office Furniture</td>
          <td>Rs. 500</td>
        </tr>
        <tr>
          <td>Office Furniture</td>
          <td>Rs. 500</td>
        </tr>
        <tr>
          <td>Office Furniture</td>
          <td>Rs. 500</td>
        </tr>
        <tr>
          <td>Office Furniture</td>
          <td>Rs. 500</td>
        </tr>
        <tr>
          <td>Office Furniture</td>
          <td>Rs. 500</td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</ion-view>