<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page5">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding login_bg">
    <form id="login-form1" class="list">
      <div class="spacer" style="height: 80px;"></div>
      <h1 class="login_head">Account Books</h1>
      <div class="list loginBox" style="background-color: rgba(0, 0, 0, 0.5); color: #9A0000; font-size: 16px;">
        <label class="item item-input item-floating-label" id="login-input1" name="phone_no">
          <span class="input-label">Phone No</span>
          <input type="number" class="myinput" placeholder="Enter Register Phone No">
        </label>
        <label class="item item-input item-floating-label" id="login-input2" name="pin">
          <span class="input-label">Secure PIN</span>
          <input class="myinput" type="number" placeholder="Enter Secure PIN Here">
        </label>
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <a ui-sref="company()" id="login-button1" style="border-radius:50px; font-size: 25px; background-color: rgba(255, 255, 255, 0.5);" class="button button-assertive button-block button-outline icon-right ion-log-in">Log in</a>
    </form>
  </ion-content>
</ion-view>
