<ion-view title="Party" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="party-form3" class="list">
      <label class="item item-input item-stacked-label" id="party-input8">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Party Name">
      </label>
      <label class="item item-input item-stacked-label" id="party-input9" name="phone_no">
        <span class="input-label">Phone No</span>
        <input type="text" placeholder="Party Contact No">
      </label>
      <label class="item item-input item-stacked-label" id="party-input10" name="gstin">
        <span class="input-label">GSTIN</span>
        <input type="text" placeholder="15 Char Code">
      </label>
      <label class="item item-select" id="party-select1" name="state">
        <span class="input-label">State</span>
        <select>
          <option>Andaman and Nicobar Islands</option>
          <option>Andhra Pradesh</option>
          <option>Arunachal Pradesh</option>
          <option>Madhya Pradesh</option>
          <option>Chattisgarh</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" id="party-input13" name="curr_bal">
        <span class="input-label">Current Bal</span>
        <input type="text" placeholder="Current Balance">
      </label>
      <label class="item item-input" id="party-input15" name="curr_bal_date">
        <span class="input-label">Date</span>
        <input type="date" placeholder="Current Balance as of Date">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="party-toggle1">Recievable </ion-toggle>
      <label class="item item-input" id="party-input12" name="address">
        <span class="input-label">Address</span>
        <input type="text" placeholder="Address (Optional)">
      </label>
      <label class="item item-input" id="party-input11" name="email">
        <span class="input-label">Email ID</span>
        <input type="email" placeholder="Email ID (Optional)">
      </label>
      <button id="party-button4" style="border-radius:50px 50px 50px 50px;" class="button button-assertive button-block button-outline icon-right ion-android-done-all">Save</button>
    </form>
  </ion-content>
</ion-view>