<ion-view title="Settings" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="settings-form7" class="list">
      <label class="item item-select" id="settings-select3">
        <span class="input-label">App Language</span>
        <select>
          <option>English</option>
          <option>Hindi</option>
        </select>
      </label>
      <ion-item class="item-divider" id="settings-list-item-divider3"> Inventory</ion-item>
      <ion-toggle toggle-class="toggle-balanced" id="settings-toggle5">Enable party wise item rate</ion-toggle>
    </form>
  </ion-content>
</ion-view>