<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-top tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-android-home" ui-sref="tabsController.dashboard">
      <ion-nav-view name="dashboard_tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Party" icon="ion-android-person" ui-sref="tabsController.allParties">
      <ion-nav-view name="party_tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Transactions" icon="ion-cash" ui-sref="tabsController.transactions">
      <ion-nav-view name="transaction_tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Reports" icon="ion-arrow-graph-up-right" ui-sref="tabsController.reports">
      <ion-nav-view name="report_tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
