<ion-view title="testing" id="page16">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-delete" ng-click="delete_option!=delete_option"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <ion-list id="testing-list9" show-delete="delete_option">
      <ion-item id="testing-list-item36">Item 1
        <ion-delete-button class="ion-minus-circled" ng-click="delete_item()"></ion-delete-button>
      </ion-item>
    </ion-list>
    <a ui-sref="party({&quot;edit&quot;:&quot;yes&quot;,&quot;id&quot;:&quot;1&quot;})" id="testing-button13" class="button button-positive button-block">Tap me!</a>
  </ion-content>
</ion-view>