<ion-view title="Transactions" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="transactions-form6" class="list">
      <ion-toggle toggle-class="toggle-balanced" id="transactions-toggle4" name="cash_sale_toggle">Cash Sale</ion-toggle>
      <label class="item item-input item-stacked-label" id="transactions-input18" name="party_name">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Party Name">
      </label>
      <label class="item item-input" id="transactions-input19" name="invoice_no">
        <span class="input-label">Invoice No</span>
        <input type="text" placeholder="ion-log-in">
      </label>
      <label class="item item-input" id="transactions-input20" name="invoice_date">
        <span class="input-label">Date</span>
        <input type="date" placeholder="Date">
      </label>
      <label class="item item-input item-stacked-label" id="transactions-input21" name="total_amount">
        <span class="input-label">Total Amount</span>
        <input type="number" placeholder="Total Amount">
      </label>
      <label class="item item-input" id="transactions-input22" name="paid_amount">
        <span class="input-label">Paid Amt.</span>
        <input type="number" placeholder="In rupees">
      </label>
      <label class="item item-input" id="transactions-input23" name="balance_amount">
        <span class="input-label">Balance</span>
        <input type="number" placeholder="In rupees">
      </label>
      <label class="item item-input" id="transactions-input24" name="ref_no">
        <span class="input-label">Ref No</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="transactions-input26" name="description">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description">
      </label>
    </form>
  </ion-content>
</ion-view>