<ion-view title="Tutorials" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="tutorials-list7">
      <label class="item item-select" id="tutorials-select2">
        <span class="input-label">Language</span>
        <select>
          <option>English</option>
          <option>Hindi</option>
        </select>
      </label>
      <ion-item id="tutorials-list-item42">Item 1</ion-item>
      <ion-item id="tutorials-list-item43">Item 2</ion-item>
      <ion-item id="tutorials-list-item44">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>