<label class="item item-input">
  <span class="input-label">Name</span>
  <input type="hidden" ng-model="item.id">
  <input type="text" placeholder="Item Name" ng-readonly="item.id!==undefined&&item.id!==null" ng-model="item.name">
</label>
<label class="item item-input">
  <span class="input-label">Quantity</span>
  <input type="number" placeholder="" ng-model="item.quantity">
</label>
<label class="item item-input">
  <span class="input-label">Rate</span>
  <input type="number" placeholder="Price" ng-model="item.rate">
</label>
<label class="item item-select">
  <span class="input-label">Tax Percent</span>
  <select ng-model="item.tax_percent">
    <option value="0">0%</option>
    <option value="5">5%</option>
    <option value="12">12%</option>
    <option value="18">18%</option>
    <option value="28">28%</option>
  </select>
</label>
<label class="item item-select">
  <span class="input-label">Tax</span>
  <select ng-model="item.tax_type">
    <option value="in">Inclusive</option>
    <option value="ex">Exclusive</option>
  </select>
</label>
<label class="item item-input">
  <span class="input-label">Total</span>
  <input type="hidden" ng-model="item.stotal">
  <input type="number" ng-value="get_stotal()" readonly>
</label>
